<h1>{{title}}</h1>


<p-dropdown [options]="products" [(ngModel)]="selectedProduct" [scrollHeight]="'400px'" placeholder="Select a product"
  [virtualScroll]="true" [virtualScrollItemSize]="20" panelStyleClass="panel-overlay-xx" [lazy]="true"
  (onLazyLoad)="lazyLoadProducts($event)">
  <ng-template pTemplate="selectedItem">
    <div *ngIf="selectedProduct">
      <div>{{ selectedProduct }}</div>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="item" style="height: 20px; box-sizing: border-box;">
    <div class="items">
      <div>{{product.title}}</div>
      <p-chip styleClass="chip">{{product.id}}</p-chip>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="dropdown-footer" *ngIf="loading">
      <div>Loading...</div>
    </div>
  </ng-template>
</p-dropdown>